<!-- <p>emailform works!</p>

<form [formGroup]="formGrp" novalidate>
<div>
<label>Email ID</label>
<label class="show-error">*</label><br>
<input type="email" formControlName="emailctrl" placeholder="Please enter an Email Id here">

<div *ngIf="emailid['emailctrl'].touched && emailid['emailctrl'].invalid" class="show-error">
    <div *ngIf="emailid['emailctrl'].errors?.['required'] && emailid['emailctrl'].dirty">Please enter email</div>
    <div *ngIf="emailid['emailctrl'].errors?.['email'] && emailid['emailctrl'].dirty">Please Enter valid email id</div>
</div>
</div>
<div>
    <button type="submit" [disabled]="!formGrp.valid" (click)="doSubmit()">Save</button>
</div>
</form> -->