.myTry {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 6px solid #0ae8ef;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}